<h1>メモの編集ページ</h1>

<%= form_with(model: @memo, local: true) do |form| %>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>
  <%= form.label :content, '内容' %>
  <%= form.text_field :content %>
  
  <%= form.submit '作成' %>
<% end %>

<%= link_to '一覧に戻る', memos_path %>